*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*Con esto digo que el ancho va ocupar el border y el paddin */
}

body{
    background-color: aqua;
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 600px;
    background-color: white;
    box-shadow: 7px 13px 37px rgba(0, 0, 0,.5);/*Con esto le doy una sombre*/
    margin-left: 400px;
}

section p{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
    transition: all .2s ease-in-out; /* con esto podemos hacer una animacionAnimacion */
}

section a{
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    border-bottom: 2px solid gray;

}

section:target p{
    max-height: 120px;
    padding: 10px;
}
